*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header-font: 'PT Serif', serif;
    --second-font: 'Fira Sans Condensed', sans-serif;
}
.is-size-big{
    font-size: 2.8rem;
}
.is-size-medium{
    font-size: 1.4rem;
}
.is-size-small{
    font-size: 1.1rem;
}
.centr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h3{
    color: blue;
    font-family: var(--header-font);
}
.wrapper{
    display: grid;
    grid-template-columns: 7% 43% 7% 43%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    margin: 0 auto;
    width: 80%;
}
.icon{
    padding: 10px;
}
.std_img{
    width: 70px;
}
.info_block{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form_wrapper{
    display: flex;
    background-color: darkblue;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    /* height: 200px; */
    padding: 30px;
}
form{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
}
form label{
    font-size: 22px;
    margin-bottom: 15px;
}
form input{
    font-size: 22px;
    padding: 3px;
    margin-bottom: 15px;
    border-radius: 3px;
    outline: none;
}
form button{
    width: 100px;
    height: 40px;
    align-self: flex-end;
    border-radius: 5px;
    font-size: 18px;
}
form button:hover{
    cursor: pointer;
    color: red;
    transition: color 0.5s;
}
.wrapper:after{
    content:"";
    background-image: url("img/041-pencil.png");
    background-size: cover;
    background-position: center;
    width: 35px;
    height: 35px;
    grid-column-start: 3;
}
@media screen and (max-width: 400px){
    .wrapper{
        grid-template-columns: 14% 86%;
    }
    .std_img{
        width: 50px;

    }
}